@charset "utf-8";
@import url(reset.css);
/* CSS Document */

body {
	font: normal 11px Tahoma;
	color: #000;
	background: #fff;
}

h2 {
	padding: 27px 0;
	font: 18px "Trebuchet MS";
	color: #000;
}

.header-mian {
	background: #f4f4f4;
	border-top: 8px solid #3f3f3f;
}

.head-top-in {
	min-width: 1000px;
	max-width: 1280px;
	position: relative;
	z-index: 10;
	margin: 0 auto;
}

.head-top {
	background: #3f3f3f url(../images/head-top-bg.jpg) left top no-repeat;
	height: 28px;
	position: relative;
	left: 22%;
	width: 78%;
	padding: 5px 0 0 0;
	overflow: hidden;
}

.head-top ul {
	margin: 0 0 0 60px;
	float: left;
	font: normal 13px "Trebuchet MS";
}

.head-top ul li {
	float: left;
	margin: 0 25px 0 0;
}

.head-top ul li a {
	color: #fff;
}

.head-top ul li a:hover {
	text-decoration: none;
}

.basket {
	background: url(../images/basket-bg.jpg) left top no-repeat;
	position: absolute;
	right: 0;
	top: -8px;
	width: 213px;
	margin: 0 13% 0 0;
	padding: 8px 0;
	border-radius: 0 0 7px 7px;
}

.basket-btn {
	margin: 0 0 0 75px;
}

.basket-str {
	padding: 7px 0 0 75px;
}

.basket-str a {
	color: #fff;
}

.basket-str a:hover {
	text-decoration: none;
}

.basket-str img {
	padding: 0 5px;
}

.social-top {
	margin: 0 1% 0 0;
	float: right;
}

.head-center {
	min-width: 1000px;
	max-width: 1280px;
	margin: 0 auto;
	padding: 5px 0 10px 0;
	overflow: hidden;
}

.head-logo {
	float: left;
	width: 20%;
	text-align: center;
}

.head-contakt {
	float: left;
	width: 42%;
	color: #3f3f3f;
	margin: 0 0 0 3%;
}

.head-contakt ul img {
	margin: 0 5px 0 0;
}

.head-contakt strong {
	font-weight: bold;
}

.head-contakt ul {
	float: left;
	width: 27%;
	padding-left: 6%;
	font: 12px/1.5 "Trebuchet MS";
	border-left: 1px solid #d4d4d4;
}

.head-contakt ul:first-child {
	float: left;
	width: 33%;
	padding-left: 0;
	font: 12px/1.5 "Trebuchet MS";
}

.head-contakt ul a {
	color: #3f3f3f;
	text-decoration: none;
}

.head-zakaz {
	float: left;
	width: 16%;
	color: #303030;
}

.head-zakaz p {
	margin: 38px auto 0;
	width: 138px;
}

.head-dost {
	float: left;
	width: 16%;
	font: 12px "Trebuchet MS";
}

.head-dost p {
	margin: 38px auto 0;
	width: 160px;
}

.head-dost img {
	float: left;
	margin: 8px 10px 0 0;
}

.head-dost a {
	color: #0066cc;
}

.head-dost a:hover {
	text-decoration: none;
}

.head-bottom {
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
}

.head-bottom-in {
	margin: 0 auto;
	min-width: 1000px;
	max-width: 1280px;
	overflow: hidden;
}

.head-bottom-in ul {
	float: left;
	margin: 14px 0 0 2%;
}

.head-bottom-in ul li {
	float: left;
	margin: 0 15px 0 0;
	padding: 0 0 4px 20px;
	font: 14px "Trebuchet MS";
	background: url(../images/menu-dot.gif) left center no-repeat;
}

.head-bottom-in ul li:first-child {
	background: none;
}

.head-bottom-in ul li a {
	color: #0066cc;
}

.head-bottom-in ul li a:hover {
	text-decoration: none;
}

.search {
	float: left;
	background: url(../images/search-bg.jpg) left center no-repeat;
	width: 364px;
	height: 29px;
	margin: 5px 0 0 10%;
	padding: 7px 0 0 10px;
}

.search p {
	float: left;
	color: #9c9c9c;
	font: italic 14px "Trebuchet MS";
}

.search-text {
	float: left;
	color: #666;
	width: 205px;
	margin: 0 0 0 7px;
	font: 14px "Trebuchet MS";
	border: none;
}

.search-btn {
	float: left;
}

.container {
	margin: 40px auto 0 auto;
	min-width: 1000px;
	max-width: 1280px;
	overflow: hidden;
}

.left-bar {
	float: left;
	width: 20%;
}

.nav-bar {
	padding: 0 0 0 17%;
	width: 83%;
}

.nav-bar h2 {
	font: normal 20px "Trebuchet MS";
	color: #000;
	padding: 0 0 2px 0;
	background:url(../images/left-bar-h-bg.jpg) left bottom no-repeat;
}

.nav-bar ul {
	font: normal 14px "Trebuchet MS";
	margin: 0 0 30px 0;
}

.nav-bar ul li {
	margin: 2px 0 4px 0;
}

.nav-bar ul li a {
	color: #0066cc;
}

.nav-bar ul li a:hover {
	text-decoration: none;
}

.discont {
	display: block;
	margin: 0 auto;
}

.spec {
	font: bold 14px "Trebuchet MS";
	color: #c11103!important;
}

.right-bar {
	float: right;
	width: 265px;
}

.banner-top img {
	margin: 5px 0 0 0;
}

.right-bar h2 {
	font: normal 20px "Trebuchet MS";
	color: #000;
	text-align:center;
	margin: 20px 0 0 0;
}

.product-day {
	margin: 0 auto;
}

.product {
	margin: 30px auto 0 auto;
}

.product img {
	display: block;
	margin: 0 auto;
}

.product h3 {
	font-weight: bold;
	font-size: 10px;
	line-height: 1.5;
	text-align: center;
}

.product a {
	color: #3272b0;
}

.product a:hover {
	text-decoration: none;
}

.product-plice {
	font-size: 11px;
	font-weight: normal;
	color: #7e7e7e;
	margin: 15px 0 20px 0;
	text-align: center;
}

.product-plice span {
	font-size: 14px;
	font-weight: normal;
	color: #7e7e7e;
	text-decoration: line-through;
}

.product-plice strong {
	font-size: 15px;
	font-weight: bold;
	color: #d81107;
}

.main-content {
	margin: 0 265px 0 20%;
}

.content:after {
  display: block;
  width: 100%;
  height: 0;
  content: '';
  clear: both;
}



.categories {
	width: 750px;
	overflow: hidden;
	margin-bottom: 20px;
}

.categories ul {
	float: left;
}

.categories ul li {
	float: left;
	line-height: 1;
	border-left: 1px solid #333;
	padding: 0 10px;
}

.categories ul li:first-child {
	border-left: none;

}

.categories ul li a {
	color: #333;
}

.categories ul li a:hover {
	text-decoration: none;
}

.activ {
	text-decoration: none;
}

.content h1, .main-content h1 {
	font: normal 20px "Trebuchet MS";
	color: #000;
	padding-left: 10px;
}

.blog-top {
	overflow: hidden;
	width: 750px;
}

.blog-cat {
	float: left;
	width:  163px;
	
}

.cat-blog {
	float: left;
	margin: 20px 20px 0 30px;
}

.magn-glass {
	position: relative;
	top: 0;
	left: -78px;
}

.zoom {
	float: left;
	margin-left: 75px;
}

.blog-top-left {
	float: left;
	width: 320px;
	line-height: 1.5;
	text-align: justify;
	margin-top: 60px;
	padding-right: 40px;
	border-right: 1px solid #333;
}

.blog-top-left p strong {
	font-weight: bold;
	color: #727272;
}

.blog-top-center {
	margin-left: 41px;
	float: left;
	width: 1px;
	height: 122px;
	background: #333;
	margin-top: 55px;
}

.blog-top-right {
	float: right;
	width: 200px;
	margin-top: 68px;
}

.blog-top-right p strong {
	font-size: 24px;
	color: #bd0805;
}

.blog-top-right p {
	font-size: 12px;
	color: #727272;
}

.by {
	background: url(../images/bottom-sravn.jpg) left center no-repeat;
	width: 110px;
	height: 22px;
	margin: 15px 0 15px 28px;
}

.by a {
	margin: 0 0 0 19px;
	font-size: 11px;
	color: #fff;
}

.by a:hover {
	text-decoration: none;
}

.basket-give a {
	font-weight: bold;
	color: #306daa;
	margin-left: 20px;
}

.basket-give a:hover {
	text-decoration: none;
}

.foto {
	min-width: 1000px;
	max-width: 1280px;
	margin: 0 auto 0 27px;
	overflow: hidden;
}

.foto img {
	float: left;
	width: 144px;
}

.blog-center-left {
	float: left;
	width: 232px;
	margin-left: 27px;
}

strong {
	font-weight: bold;
}

.blog-center-left p {
	margin: 0 0 20px 10px;
}

.blog-center-right {
	float: right;
	width: 448px;
}

.blog-bottom {
	border-top: 2px solid #ccc;
}

.blog-bottom-center {
	width: 767px;
	margin: 0 auto;
	overflow: hidden;
}

.product-similar {
	width: 190px;
	float: left;
	text-align: center;
	
}

.product-similar img {
	display: block;
	margin: 30px auto -20px auto;
}

.product-similar h2 {
	font: bold 11px Tahoma;
	margin: 0 0 -20px 0;
}

.product-similar h2 a {
	color: #3272b0;
}

.product-similar h2 a:hover {
	text-decoration: none;
}

.product-similar p span {
	color: #d81107;
	font: bold 15px "Trebuchet MS";
}

.footer {
	background: #f4f4f4;
	border-top: 1px solid #ccc;
	margin-top: 20px;
	padding: 15px 0 35px 0;	
}

.footcenter {
	min-width: 1000px;
	max-width: 1280px;
	margin: 0 auto;
	background: #3f3f3f;
	border-radius: 5px;
	overflow: hidden;
	color: #fff;
}

.footer-logo {
	float: left;
	margin: 12px 20px;
}

.copy {
	float: left;
	padding-top: 10px;
	
}

.atstar {
	float: left;
	
	margin: 11px 0 0 639px;
}

.linek {
	float: right;
	
	font-size: 10px;
	color: #fff;
	margin: 10px 12px 0 7px;
}

.foot-menu {
	min-width: 1000px;
	max-width: 1280px;
	margin: 17px auto 0 auto;
	text-align: center;
}

.foot-menu a {
	padding: 0 10px;
	color: #408cd9;
}

.foot-menu a:hover {
	text-decoration: none;
}

